.bgtext {
  color: #ffffff;
}

.container-fluid {
  padding: 20px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.wrapper {
  position: relative;
  width: 560px;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.wrapper iframe {
  display: none;
}

.play-btn {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn:focus {
  outline: 0;
}

.fontcolor {
  color: #000000;
}

.bodybg {
  background-image: url("Images/cons.png");

  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

@media(min-width: 350) {
  .bodybg {
    background-image: url("Images/mobileland.png");
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#gallery img, #events img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
html{
  scroll-behavior: smooth;
}