.bgtext {
  color: #ffffff;
}
.container-fluid {
  padding:20px ;
}

.bg-grey {
  background-color: #f6f6f6;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

.nav-link:hover{
  font-style: italic;
  background-color:#f6f6f6;  
  border-radius: 30px;
}
.navbar{
  padding:0 ;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.wrapper {
  position: relative;
  width: 560px;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.wrapper iframe {
  display: none;
}

.play-btn {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn:focus {
  outline: 0;
}

.fontcolor {
  color: #000000;
}
.modal-content{
  border: 0px;
}
.bodybg {
  background-image: url("Images/cons.png");

  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

@media(min-width: 350) {
  .bodybg {
    background-image: url("Images/mobileland.png");
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#gallery img, #events img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
html{
  scroll-behavior: smooth;
}
.zoom {
  padding: 15px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.18); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.myIframe {
  position: relative;
  padding-top: 30px;
  height: 300px;
  width: auto;
  overflow: auto; 
  -webkit-overflow-scrolling:touch;
  border: solid black 1px;
} 
.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* add to calender hover  */
.cal-btn{
  height:60px;
  background-color: #d95b25; 
  color:white;
}
.cal-btn:hover{
  font-style: italic;
  background-color: #c54a15;
}

#visitor-btn{
  height: 40px;
  background-color: #d95b25;
  color: white;
  }

#visitor-btn:hover{
  
  background-color: #c54a15;
  color: white;
   
}
#visitor-btn:hover span{
  display: none;
}
#visitor-btn:hover .fa-battery-quarter::before{
  content: "\f240";
  color: white;
}
#visitor-btn:hover span.reg{
    
    display: inline;
  
}

/* Register btn animation */
.reg{
  display: none;
}
#register-btn, #evtregister-btn{
  height: 40px;
  background-color: #d95b25;
  color: white;
  }

#register-btn:hover, #evtregister-btn:hover{
  
  background-color: #c54a15;
  color: white;
   
}
#register-btn:hover span, #evtregister-btn:hover span{
  display: none;
}
#register-btn:hover .fa-battery-quarter::before,#evtregister-btn:hover .fa-battery-quarter::before{
  content: "\f240";
  color: white;
}
#register-btn:hover span.reg,#evtregister-btn:hover span.reg{
    
    display: inline;
  
}


.headerfont{
  background-color: #ffffff;
}
.modal{
overflow: auto;
padding: 0;
margin-top: 50px;
}
.modal-body {
padding: 0;
}
.event-btn:hover {
  font-style: italic;
}

.social{
  
  display: flex;
  justify-content: center;
  
}
.social li{
/* display: flex; */
padding:0px 20px;
}

/* foooter contact num */
.cont-num{
font-size: 15px;
}


hr{
  width:90%;
  color: #46413ec4; 
  border: solid .25px; 
}

/* footer heading text */
footer .container .row h3  {
  color: #d4d4d3;
}

footer .fa{
  color:white;
  padding: 0;
}

footer .fa:hover{
  color:rgb(148, 141, 141);
}

.footer ul li a {
  padding: 0;
  color: white;
  
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #d95b25; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 50px;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #d95b25;
	display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  font-weight: bold;
  border-radius: 3px;
  /* width: 30px; */
	background: #e68d67;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
  font-size: 10px;
}
@media only screen and(max-width: 500px)
{
  .navbar{
    padding:0px;
    
  }
}