.bgtext {
  color: #ffffff;
}

.container-fluid {
  padding:20px ;
}

.bg-grey {
  background-color: #f6f6f6;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

.nav-link:hover{
  font-style: italic;
  background-color:lightgray;  
  border-radius: 30px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.wrapper {
  position: relative;
  width: 560px;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.wrapper iframe {
  display: none;
}

.play-btn {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn:focus {
  outline: 0;
}

.fontcolor {
  color: #000000;
}
.modal-content{
  border: 0px;
}
.bodybg {
  background-image: url("Images/cons.png");

  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

@media(min-width: 350) {
  .bodybg {
    background-image: url("Images/mobileland.png");
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#gallery img, #events img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
html{
  scroll-behavior: smooth;
}
.zoom {
  padding: 15px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.18); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.flip-box {
  background-color: transparent;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  /* background-color:; */
  color: black;
  transform: rotateX(180deg);
}
.myIframe {
  position: relative;
  padding-top: 30px;
  height: 300px;
  width: auto;
  overflow: auto; 
  -webkit-overflow-scrolling:touch;
  border: solid black 1px;
} 
.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* add to calender hover  */
.cal-btn{
  height:60px;
  background-color: #d95b25; 
  color:white;
}
.cal-btn:hover{
  font-style: italic;
  background-color: #c54a15;
}

/* Register btn animation */
.reg{
  display: none;
}
#register-btn{
  height: 40px;
  background-color: #d95b25;
  color: white;
  }

#register-btn:hover{
  
  background-color: #c54a15;
  color: white;
   
}
#register-btn:hover span{
  display: none;
}
#register-btn:hover .fa-battery-quarter::before{
  content: "\f240";
  color: white;
}
#register-btn:hover span.reg{
    
    display: inline;
  
}
.headerfont{
  background-color: #ffffff;
}
.modal{
overflow: auto;
padding: 0;
margin-top: 50px;
}
.modal-body {
padding: 0;
}
.event-btn:hover {
  font-style: italic;
}

.social{
  
  display: flex;
  justify-content: center;
  
}
.social li{
/* display: flex; */
padding:0px 20px;
}

/* foooter contact num */
.cont-num{
font-size: 15px;
}


hr{
  width:90%;
  color: #46413ec4; 
  border: solid .25px; 
}

/* footer heading text */
footer .container .row h3  {
  color: #d4d4d3;
}

footer .fa{
  color:white;
  padding: 0;
}

footer .fa:hover{
  color:rgb(148, 141, 141);
}

.footer ul li a {
  padding: 0;
  
}
@font-face {
  font-family: 'digital';
  src: url('fonts/digital-7_mono-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/digital-7_mono-webfont.woff') format('woff'), /* Modern Browsers */
       url('fonts/digital-7_mono-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/digital-7_mono-webfont.svg') format('svg'); /* Legacy iOS */
}